<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Autodromo" connectionString="Data Source=DARKEN-PC\SQLEXPRESS;Initial Catalog=Autodromo;Persist Security Info=false;User ID=sa;Password=darken123"/>
    <!--<add name="Autodromo" connectionString="Data Source=ASUS-PC\SQLEXPRESS;Initial Catalog=Autodromo;Persist Security Info=false;User ID=sa;Password=auto123"/>-->

  </connectionStrings>
</configuration>